section.about-section
  .wrapper
    .about-section__container
      img.about-section__img(src="images/about-section-img.png" loading="lazy" width="1125" height="1163" alt="image")
      h2.about-section__title.font-s-48
        span.font-w-bold Более 10-ти лет ведем 
        br.no-br
        | успешную работу бизнеса
      .about-section__text.font-s-20.color-grey-ae
        span.font-w-regular.color-white «Любимое Королевство» 
        | — место красоты для 
        br.no-br
        | каждого! В наш салон приходят мужчины, женщины, 
        br.no-br
        | пенсионеры, дети. Все это благодаря широкому 
        br.no-br
        | спектру услуг, закрывающему все возможные запросы 
        br.no-br
        | клиентов и команде профессионалов, которых мы 
        br.no-br
        | обучаем самостоятельно.
      .font-w-regular.font-s-24 Услуги, на которых вы будете зарабатывать
      .swiper-about
        .about-section__service-group.font-w-semi-bold.font-s-20.swiper-wrapper
          .about-section__service-item.about-section__service-item-1.swiper-slide Парикмахерские услуги
          .about-section__service-item.about-section__service-item-2.swiper-slide Ногтевой сервис
          .about-section__service-item.about-section__service-item-2.swiper-slide Услуги депиляции
          .about-section__service-item.about-section__service-item-3.swiper-slide Услуги бровиста и лешмейкера
        .about-pagination.swiper-progress-about
      .about-section__bottom
        img.about-section__bottom-icon(src="images/about-section-bottom-icon.png" loading="lazy" width="76" height="33" alt="icon")
        .about-section__bottom-text.font-s-20
          | Сегодня работает уже 
          span.font-w-semi-bold 2 точки 
          | сети и мы готовы 
          br.no-br
          | к новым масштабам! Вместе с нами вы откроете 
          br.no-br
          | современный салон-парикмахерскую, где будут 
          br.no-br
          | отлажены абсолютно все процессы и сможете начать 
          br.no-br
          | зарабатывать сразу после запуска.
          br
          br
          | Мы проведем для вас подробное обучение с полным 
          br.no-br
          | погружением в нишу и поможем подготовить ваших 
          br.no-br
          | мастеров к работе. А также, передадим стратегию 
          br.no-br
          | развития бизнеса, благодаря которой вы быстро 
          br.no-br
          | достигнете желаемых результатов. Присоединяйтесь!
        form.about-section__form(data-feedback-form)
          textarea.input.input--textarea(type="text" name="answer" autocomplete="off" placeholder="Текст вопроса")
          input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
          input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
          button.btn(type="submit") Задать вопрос
