section.finances-section
  .wrapper
    .finances-section__container
      img.finances-section__img-1(src="images/finances-section-img-1.png" loading="lazy" width="998" height="1048" alt="image")
      img.finances-section__img-2(src="images/finances-section-img-2.png" loading="lazy" width="887" height="601" alt="image")
      h2.finances-section__title.font-s-48
        | Начните зарабатывать 
        br.no-br
        span.font-w-bold уже с первых месяцев работы
      .finances-section__sub-title.font-w-regular.font-s-22
        | Показатели, на которые вы можете рассчитывать, 
        br.no-br
        | став партнером франшизы «Любимое Королевство»:
      .swiper-finances
        .finances-section__cards.swiper-wrapper
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 56 дней
            .font-s-18.color-grey-ae потребуется <br> для старта бизнеса
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 от 740 ₽
            .font-s-18.color-grey-ae средний чек <br> одного клиента
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 от 46 услуг
            .font-s-18.color-grey-ae вы будете оказывать <br> ежедневно
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 1 033 000 ₽
            .font-s-18.color-grey-ae ежемесячная <br> выручка
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 21%
            .font-s-18.color-grey-ae рентабельность <br> по чистой прибыли
          .finances-section__card.swiper-slide
            img.finances-section__card-icon(src="images/finances-section-card-icon.svg" loading="lazy" width="30" height="30" alt="icon")
            .finances-section__card-title.font-w-medium.font-s-40 216 000 ₽
            .font-s-18.color-grey-ae ежемесячная <br> чистая прибыль
        .finances-pagination.swiper-progress-finances
      .font-s-32
        span.font-w-bold Узнайте, какие инвестиции 
        br.no-br
        | потребуются для старта бизнеса
      .finances-section__bottom-text.font-s-18 Скачайте финансовую модель франшизы
      form.finances-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Скачать
      img.finances-section__img(src="images/finances-section-img.jpg" loading="lazy" width="760" height="1460" alt="image")
