header.header
  .header__container
    .header__brand-title.font-w-regular.font-s-16 Франшиза сети <br> салонов-парикмахерских
    img.header__logo(src="images/header-logo.png" loading="lazy" width="534" height="234" alt="logo")
    .header__connection
      include ../components/phone-number.pug

      //- a(href="tel:+78000000000")
      //-   img.header__connection-icon(src="images/connection-icon.svg" loading="lazy" width="20" height="20" alt="icon")
      //- .header__call-me.font-s-12(data-remodal-target="modal-form-call-me") Обратный звонок
