section.info-section
  .wrapper
    .info-section__container
      h2.info-section__title.font-s-48
        span.font-w-semi-bold Хотите узнать больше 
        br.no-br
        | о работе салона?
      .info-section__sub-title.font-w-regular.font-s-22
        | Оставьте заявку на тест-драйв франшизы и мы расскажем вам:
      .swiper-info
        .info-section__cards.swiper-wrapper
          .info-section__card.swiper-slide
            img.info-section__card-icon(src="images/info-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
            .font-w-bold.font-s-50 01
            .info-section__card-line
            .font-s-18.color-grey-ae
              | Как правильно 
              br.no-br
              | позиционировать 
              br.no-br
              | себя на рынке 
              br.no-br
              | и привлечь первых 
              br.no-br
              | клиентов
          .info-section__card.swiper-slide
            img.info-section__card-icon(src="images/info-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
            .font-w-bold.font-s-50 02
            .info-section__card-line
            .font-s-18.color-grey-ae
              | Какие услуги 
              br.no-br
              | пользуются 
              br.no-br
              | наибольшим спросом 
              br.no-br
              | и на что делать 
              br.no-br
              | акцент
          .info-section__card.swiper-slide
            img.info-section__card-icon(src="images/info-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
            .font-w-bold.font-s-50 03
            .info-section__card-line
            .font-s-18.color-grey-ae
              | Как настроить 
              br.no-br
              | эффективный 
              br.no-br
              | маркетинг 
              br.no-br
              | и выделиться среди 
              br.no-br
              | конкурентов
          .info-section__card.swiper-slide
            img.info-section__card-icon(src="images/info-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
            .font-w-bold.font-s-50 04
            .info-section__card-line
            .font-s-18.color-grey-ae
              | Как сформировать 
              br.no-br
              | команду 
              br.no-br
              | профессионалов 
              br.no-br
              | и организовать их 
              br.no-br
              | работу
          .info-section__card.swiper-slide
            img.info-section__card-icon(src="images/info-section-card-icon.svg" loading="lazy" width="16" height="16" alt="icon")
            .font-w-bold.font-s-50 05
            .info-section__card-line
            .font-s-18.color-grey-ae
              | Как быстро 
              br.no-br
              | масштабировать 
              br.no-br
              | результаты салона 
              br.no-br
              | и выйти на 
              br.no-br
              | стабильный доход
        .info-pagination.swiper-progress-info
      form.info-section__form(data-feedback-form)
        input.input(type="text" name="name" autocomplete="off" placeholder="Имя")
        input.input(type="tel" name="phone" autocomplete="off" data-inputmask="'mask': '+7 (999) 999 9999'" placeholder="Телефон")
        button.btn(type="submit") Записаться
