section.invest-section
  .wrapper
    .invest-section__container
      img.invest-section__img-1(src="images/invest-section-img-1.png" loading="lazy" width="1039" height="923" alt="image")
      img.invest-section__img-2(src="images/invest-section-img-2.png" loading="lazy" width="887" height="725" alt="image")
      h2.invest-section__title.font-s-48.text-center
        | Откройте бизнес 
        br.no-br
        span.font-w-bold в одном из двух форматов
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            img.invest-section__card-border(src="images/invest-section-card-border.png" loading="lazy" width="230" height="60" alt="icon")
            .invest-section__card-title.font-w-bold.font-s-40 Mini
            .invest-section__card-sub-title.font-s-18 Площадь: от 30 м²
            .invest-section__card-body
              .invest-section__card-body-title.font-w-medium.font-s-20 Ваша команда:
              .invest-section__card-body-items.font-s-18.color-grey-ae
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Парикмахер
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Мастер маникюра
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Бровист
            .invest-section__card-bottom-text.font-w-medium.font-s-18
              | Получите подробное 
              br
              | описание формата
            button.btn(data-remodal-target="modal-form-investments") Получить
          .invest-section__card.swiper-slide
            img.invest-section__card-border(src="images/invest-section-card-border.png" loading="lazy" width="230" height="60" alt="icon")
            .invest-section__card-title.font-w-bold.font-s-40 Standart
            .invest-section__card-sub-title.font-s-18 Площадь: от 50 м²
            .invest-section__card-body
              .invest-section__card-body-title.font-w-medium.font-s-20 Ваша команда:
              .invest-section__card-body-items.font-s-18.color-grey-ae
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Парикмахер
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Мастер маникюра
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Бровист
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Лешмейкер
                .invest-section__card-body-item
                  .invest-section__card-body-dot
                  .invest-section__card-body-text Мастер депиляции
            .invest-section__card-bottom-text.font-w-medium.font-s-18
              | Получите подробное 
              br
              | описание формата
            button.btn(data-remodal-target="modal-form-investments") Получить
        .invest-pagination.swiper-progress-invest
      img.invest-section__img(src="images/invest-section-img.png" loading="lazy" width="1308" height="1586" alt="image")
