.input
  height: 45px
  width 100%
  padding: 0 28px;
  font-family: 'Manrope-Light'
  font-weight: 300
  font-size: 14px;
  line-height: 120%
  color: rgba(255, 255, 255, 0.6)
  // border: 1px solid #fff
  border-radius: 95px;
  background: rgba(255, 255, 255, 0.15)
  position relative
  overflow hidden

  &.active
    .input__progress
      opacity 1
      min-width: 40px
      span
        opacity 1
  &__progress
    position: absolute
    height: 100%
    top: 0
    left: 0
    background: radial-gradient(68.57% 68.57% at 50% 25.83%, rgb(255, 232, 152) 0%, rgb(236, 170, 0) 100%);
    opacity 0
    min-width: 0
    display: flex
    align-items: center
    justify-content: center
    font-size: 16px
    line-height: 16px
    transition: min-width 1s, opacity 0.8s
    color: #222222
    font-weight: bold
    border-radius: 100px
    +above($breakpoints.xxl)
      font-size: 20px
      line-height: 20px
    span
      opacity 0
      transition: 2s

  transition border-color 0.3s, box-shadow 0.3s, border 0.3s
  &:hover
    border 1px solid #FFBD45
  &:focus
    color: #fff
    caret-color: #fff
    border 1px solid #FFBD45
    box-shadow: 3px 3px 20px 0px #FFBD45
    background: rgba(255, 255, 255, 0.2)
    font-family: 'Manrope-Regular'
    font-weight: 400
    &::placeholder
      color: rgba(255, 255, 255, 0.6)
  &::placeholder
    color: rgba(255, 255, 255, 0.6)
  +above($breakpoints.sm)
    height: 50px
    font-size: 15px;
  +above($breakpoints.md)
    height: 55px
    font-size: 16px;
  +above($breakpoints.xxl)
    font-size: 18px;
    height: 60px
  &.error
    border 1px solid $color-error
    color: $color-error
    caret-color: $color-error
    box-shadow: 0px 0px 22px 0px $color-error
    background: transparent
    &::placeholder
      color: $color-error
    &::-ms-input-placeholder
      color: $color-error
    animation: shake 0.6s;
    @keyframes shake
      10%, 90%
        transform: translate3d(-1px, 0, 0)
      20%, 80%
        transform: translate3d(2px, 0, 0)
      30%, 50%, 70%
        transform: translate3d(-4px, 0, 0)
      40%, 60%
        transform: translate3d(4px, 0, 0)

  &--textarea
    outline none
    border: none
    padding: 15px 10px 10px 20px
    resize: none
    height: 70px
    border-radius: 20px
    width 280px
    +above($breakpoints.sm)
      height: 100px
      width 240px
    +above($breakpoints.md)
      height: 110px
      width 260px
    +above($breakpoints.xxl)
      padding: 17px 10px 10px 28px
      height: 120px
      width 280px

  &--secondary
    background: rgba(255, 255, 255, 0.09)
    &:focus
      background: rgba(255, 255, 255, 0.09)

  // &--tertiary
  //   border: 1px solid #F5F5F5
  //   background: #F5F5F5
  //   color: #000
